#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}


.first_div
{
    
    padding-left: 100px;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: white
}   
.fa {
    padding: 5px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #962fbf;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  @media (max-width: 576px) {
     /* #background-video { 
        display: none; 
    } */
    #background-video {
      background: url("/assets/Mobile\ Version\ Animation\ Web.mp4");
      background-size: cover;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
        }
        .first_div{
            padding: 0;
        }

    
  }